@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Montserrat:ital,wght@0,300;0,400;0,500;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 20px;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    color: #342F31;
}

h1 {
    text-align: center;   
}

h2 {
    text-align: center;
    font-style: italic;
    margin-top: 10px;
}

h3 {
    font-weight: 200;
    margin-left: 5px;
    margin-right: 3px;
}

h4 {
    text-align: center;
    font-size: .5rem;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.buttons a{
    text-decoration: none;
}

.button1{
    width: 220px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    border: solid 1px #DFC7A2;
    background: #fff;
    box-shadow: 2px 2px 5px 2px rgba(173, 173, 173, 0.3);
    font-size: medium;
    margin-bottom: 20px;
}

.button2{
    width: 220px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    border: solid 1px #DFC7A2;
    background: #fff;
    box-shadow: 2px 2px 5px 2px rgba(173, 173, 173, 0.3);
    font-size: medium;
    margin-bottom: 20px;
}

.button3{
    width: 220px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    border: solid 1px #DFC7A2;
    background: #fff;
    box-shadow: 2px 2px 5px 2px rgba(173, 173, 173, 0.3);
    font-size: medium;
    margin-bottom: 20px;
}

.button{
    width: 220px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    border: solid 1px #DFC7A2;
    box-shadow: 2px 2px 5px 2px rgba(173, 173, 173, 0.274);
    margin-bottom: 20px;
    background: #fff;
}

.img-logo img {
    width: 100%;
}

.line {
    width: 100%;
    margin: 20px 0 20px 0;
    border-bottom: solid 1px #DFC7A2;
}

footer {
    background: #342F31;
    color: #DFC7A2;
    font-size: 13px;
    font-style: italic;
    height: 150px;
    }

main img {
    width: 100%;
    margin-bottom: 20px;
}

.location h2{
    margin-bottom: 20px;
}

.location{
    margin-bottom: 20px;
}

.final {
    margin-top: 40px;
}

#about {
    margin-bottom: 20px;
    margin-top: 10px;
}

#history{
    margin-bottom: 20px;
}

#contact{
    margin-bottom: 20px;
}

#location{
    margin-bottom: 20px;
}

#map {
    max-width: 100%;
}

@media (min-width:500px){
   
    .img-logo img {
       height: 250px;
    }

    main img {
        width: 40%;
        margin-bottom: 20px;
    }

    .buttons{
        flex-direction: row;
        justify-content:space-evenly;
        
    }

    .button1:hover{
        background-color: #DFC7A2;
        opacity: 60%;
    }
    .button2:hover{
        background-color: #DFC7A2;
        opacity: 60%;
    }
    .button3:hover{
        background-color: #DFC7A2;
        opacity: 60%;
    }

    main{
      
    }

    .values{
        
    }
}   
    .ourhistory{

    }

    .contacts{

    }
