@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,400&family=Montserrat:ital,wght@0,300;0,400;0,500;1,200&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    font-size: 15px;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    max-width: 100%;
    color: #342F31;
    overflow-x: hidden;
}

h1 {
    text-align: center;
    color: #342F31;   
}

h2 {
    text-align: center;
    margin-top: 10px;
    font-size: 0.8rem;
    color: #342F31;
}

#h2-id{
    font-style: normal;
}



.final h4 {
    text-align: center;
    font-size: 1em;
}

p {
    font-size: 1.4em;
    margin: 10px;
    line-height: 1.5em;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
}


.buttons a{
    text-decoration: none;
    color: #DFC7A2;
}

.buttons a:hover{
    text-decoration: none;
    color: #342F31;
}


.button1{
    width: 220px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    border: solid 1px #DFC7A2;
    background: #342F31; 
    box-shadow: 2px 2px 5px 2px rgba(173, 173, 173, 0.3);
    font-size: medium;
    margin: 20px;
    color: #DFC7A2;
}

.button2{
    width: 220px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    border: solid 1px #DFC7A2;
    background: #342F31;
    box-shadow: 2px 2px 5px 2px rgba(173, 173, 173, 0.3);
    font-size: medium;
    margin: 20px;
    color: #DFC7A2;
}

.button3{
    width: 220px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    border: solid 1px #DFC7A2;
    background: #342F31;
    box-shadow: 2px 2px 5px 2px rgba(173, 173, 173, 0.3);
    font-size: medium;
    margin: 20px;
    color: #DFC7A2;
}

.button{
    width: 220px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    border: solid 1px #DFC7A2;
    box-shadow: 2px 2px 5px 2px rgba(173, 173, 173, 0.274);
    margin-bottom: 20px;
    background: #fff;
    color: #342F31;
}

.values img{
    width: 35%;
    margin: 10px;
}

.img-logo {
    width: 100%;
    
}

.img-logo img {
    width: 100%;
}

.line {
    width: 100%;
    margin: 20px 0 20px 0;
    border-bottom: solid 1px #DFC7A2;
}

main img {
    width: 100%;
    margin-bottom: 20px;
}


.button1:hover{
    background-color: #DFC7A2;
    color:#342F31;
}
.button2:hover{
    background-color: #DFC7A2;
    color: #342F31;
}
.button3:hover{
    background-color: #DFC7A2;   
    color: #342F31; 
}

.location h2{
    margin-bottom: 20px;
}

.location{
    margin-bottom: 20px;
}

.final {    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: #342F31;
    color: #DFC7A2;
}

#about {
    margin-bottom: 20px;
    margin-top: 30px;
}

#history{
    padding: 15px;
    color: #DFC7A2;
}

#contact{
    margin-bottom: 20px;
}

#location{
    margin-bottom: 20px;
}

#map {
    width: 100%;
}

.values{
    display: flex;
    margin-bottom: -20px;
}
   
.ourhistory{
    display: flex;
    flex-direction: column;
    background: #342F31;
    color: #DFC7A2;
}

.contactus{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#carousel {
    width: 100%;
}


.spanclass {
    display: flex;
    justify-content: center;
    margin-bottom: -20px;
}

.area2{
    display: flex;
    flex-direction: column;
    gap: 5px; 
    background: #342F31;   
    color: #DFC7A2;
}

.areaatuacao{
    background: #342F31;
    color: #DFC7A2;
}

.wpp-btn a{
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    color: #DFC7A2;
}

.wpp-btn a:hover{
    position: fixed;
    right: 20px;
    bottom: 20px;
    cursor: pointer;
    color: #342F31;
}

.btn-wpp-m{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.button4{
    width: 320px;
    height: 40px;
    border-radius: 10px;
    text-align: center;
    border: solid 1px #DFC7A2;
    background: none;
    /*box-shadow: 1px 1px 1px 1px rgba(173, 173, 173, 0.3);*/
    font-size: medium;
    margin-bottom: 20px;
    color: #DFC7A2;
}

.submmit-btn{
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.animate__animated.animate__fadeInLeft.animate__fadeInRight{
 --animate-duration: 2s;
 }

.init-hidden{
    opacity: 0;
}

.init-hidden-off{
    opacity: 1;
}

#col-img{ 
    margin-top: 40px;
}

#col-img2{  
    margin-top: 40px;
}

.efeito-vidro{ 
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }

.cards{
    margin: 10px;
}

.card-body{
    text-align: center;
    color: #342F31;
    height: 65vh;        
 }

.card-body a{
    color: #DFC7A2;
    background-color: #342F31;
    border-color: #342f31;
}

.card-body a:hover{
    color: #342F31;
    background-color: #342F31;
    border-color: #DFC7A2 ;
}

#card-body-first:hover{
    transform: scale(1.005);
}

.card-text{
    display: flex;
    flex-direction: column;
    font-size: 1.1rem;
    text-align: center;
}

#icon-cost{
    font-size: 100px;
    margin-top: 20px;
}
#icon-work{
    font-size: 100px;
    margin-top: 10px;
    margin-bottom: 10px;
}
#icon-law{
    font-size: 100px;
}
#icon-imob{
    font-size: 100px;
}

form{
    width: 60%;
}

.p-first{
    margin-top: 20px;
    color: #342F31;
    text-align: justify;
}

.p-footer{
    text-align: center;
    align-items: center;
    font-size: 1rem;
}

.social-medias-png{
    width: 100%;
    background: #342F31; 
    display: flex;
    justify-content: center;
    border-left: solid 2px #DFC7A2;
    border-right: solid 2px #DFC7A2;
    border-bottom: solid 2px #DFC7A2;
    border-top: solid 2px #DFC7A2;
}

.social-medias-png img{
    width: 50px;
    margin: 5px;
    transition: all ease .3s;
}

#headingOne,#headingTwo,#headingThree,#headingSeven{
    background: #342F31;
    
}

#card-body-questions{
    color: #fff;
    text-align: start;
    font-size: 1.1em;
    background: #342F31;
}

#btn-collapse{
    color: #DFC7A2;
    width: 100%;
    text-decoration: none;
    font-weight: 500;
    text-align: start;
}

.material-symbols-outlined{
    font-size: 40px;
}

#btn-collapse:focus{
    box-shadow: none;
    border: solid 1px #DFC7A2;
}

#btn-more{
    background: #342F31;
    color: #DFC7A2;
    border: #DFC7A2;
}

#btn-more:focus{
    border: solid 1px #DFC7A2;
    box-shadow: none;
}

.social-medias-png img:hover{
    transform:scale(1.2);
}

.girls{
    text-align: left;
}

.girls2{
   text-align: right;
}

.girls,.girls2{
    font-size: 1rem; 
}
.p{
    text-align: justify;
}
.p-txt-break{
    margin-top: -30px;
    font-size: 1.2rem;
}

.form-imputs{
    color: #342F31;
    width: 100%;
}

.form-imputs:focus {
    color: #342F31;
    background-color: #fff;
    border-color: #dfc7a2;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(223, 199, 162, 0.7);
  }

.form-imputs {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #342F31;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #342F31;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .form-imputs::-webkit-input-placeholder {
    color: #342F31;
    opacity: 1;
  }

  #ControlTextarea{
      height: 100px;
  }

  .modal-content{
      color: #342F31;
      font-size: 1.5rem;
      text-align: center;
 }

 #form-question{
     width: 500px;
     margin-left: -20px;
 }

 #h1-color,#h2-color{
    color: #DFC7A2;
    font-size: 1.2rem;
 }

 .text-recall{
     margin: 20px 0 23px 0;
 }

 .text-recall2{
    margin: 3px 0 22px 0;
}

.card-time{
    height: 30vh;
}

.card-time2{
    height: 35vh;
}

#questions{
   margin: 10px 2% 20px 2%;  
}

.arrow-icon{
    text-align: end;
    color: #DFC7A2;    
}

.arrow-btn{
    display: flex;
}
.p-width{
    font-size: 1.2rem;
}

@media (max-width:500px){
   
    .img-logo {
        background-image: url(./lib/Banner-principal-advogado\ e\ cliente.png);
        background-size:100%;
        background-repeat: no-repeat;
        height: 270px;
    }

    .img-logo img{
        visibility: hidden;
    }   
    
    .buttons{
        flex-direction: column;
        align-items: center;
    }

    .button1{
        margin: 10px;
    }

    .button2{
        margin: 10px;
    }
    .button3{
        margin: 10px;
    }

    .values{
        flex-direction: column;
        align-items: center;
    }

    .values img{
        width: 90%;
    }
    
    .p-first{
        font-size: 1.2rem;
    }
    .card-body{
        height: 45vh;
    }
    #icon-cost{
        font-size: 60px;
        margin-top: -2px;
        }
    #text-costicon{
        margin-top: -10px;
    }
    #icon-work{
        font-size: 60px;
      
    }
    #icon-law{
        font-size: 60px;
    }
    #icon-imob{
        font-size: 60px;
    }

    .card{
        margin: 0px;
    }
    .button4{
        width: 220px;
    }
      
    .img-eli{
        margin-top: -30px;
    }

    #col-img{
        margin-left: 20%;
        width: 60%; 
        margin-top: -8px;     
    }
    
    #col-img2{
    width: 60%;
    margin-left: 20%;
    margin-bottom: 20px;
    margin-top: -8px;
    }

    #questions{
        margin: 20px;
    }
    
    form{
        width: 100%;        
    }
    .card-action{
        margin: 10px;
    }
    .media-first{
        width: 100%;
    }
    .card-text{
        font-size: 1.2rem;
    } 
    .girls2{
        text-align: left;
    }
    .card-time{
        height: 35vh;
    }
    
    .card-time3{
        height: 60vh;
    }
    #form-question{
        width: 400px;
        margin-left: -20px;
    }
}